<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhy.dataservices.dao.AccessDAO">
    <select id="getRoleList" resultType="com.yhy.dataservices.entity.Role">
        select * from
        role
        <where>
            <if test="roleName!=null and roleName!=''">
                and role_name like CONCAT('%',#{roleName},'%' )
            </if>
        </where>
        order by
        create_time
        desc
    </select>

    <select id="checkRoleExist" resultType="java.lang.Integer">
        select count(*) from
        role
        where
        role_name=#{roleName}
    </select>

    <insert id="addRole">
        insert into
        role(role,role_name,role_describe)
        values
        (#{role},#{roleName},#{roleDescribe})
    </insert>

    <delete id="deleteRole">
        delete from
        role
        where
        id=#{id}
    </delete>

    <select id="getRoleById" resultType="com.yhy.dataservices.entity.Role">
        select * from
        role
        where
        id=#{id}
    </select>

    <update id="updateRole">
        update role
        <trim prefix="SET" suffixOverrides=",">
        <if test="roleName!=null and roleName!=''">
            role_name=#{roleName},
        </if>
        <if test="role!=null and role!=''">
            role=#{role},
        </if>

        <if test="roleDescribe!=null and roleDescribe!=''">
            role_describe=#{roleDescribe},
        </if>
        </trim>
        where id=#{id}
    </update>

    <select id="checkRoleNameExceptMe" resultType="java.lang.Integer">
        select count(*)
        from
        role
        where
        role_name=#{roleName}
        and
        id!=#{id}
    </select>

    <select id="getUserAccessList" resultType="com.yhy.dataservices.dto.UserAccessDTO">
        select
        a.id,
        a.username,
        b.role_name,
        b.role,
        b.role_describe
        from
        user a
        left join
        role b
        on
        a.role=b.id
        <where>
            <if test="userName!=null and userName!=''">
                and username like CONCAT('%',#{userName},'%' )
            </if>
            and is_able=1
        </where>
        order by
        a.create_time
        desc
    </select>

    <select id="getChangeRoleList" resultType="com.yhy.dataservices.dto.ChangeRoleDTO">
        select
        id,role_name
        from
        role
        where
        1=1
    </select>

    <update id="updateUserAccess" parameterType="com.yhy.dataservices.dto.UpdateUserAccessRequestDTO">
        update
        user
        set
        role=#{roleId}
        where
        id=#{id}
    </update>

</mapper>
