<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhy.dataservices.dao.CityAirQualityDAO">
    <select id="getCityAirQualityByCityName" resultType="com.yhy.dataservices.entity.CityAirQuality">
        select * from
        city_air_quality
        where
        city_name
        in
        <foreach collection="cityNames" item="cityName" separator="," open="(" close=")" index="">
            #{cityName}
        </foreach>
        order by
        month
        asc
    </select>

    <select id="getCityAqiAvg" resultType="com.yhy.dataservices.dto.cityAirQuality.AqiAvgDTO">
        select
        city_name as cityName,
        avg(aqi) as aqiAvg
        from
        city_air_quality
        group by
        city_name
    </select>

    <select id="getCityPm25Avg" resultType="com.yhy.dataservices.dto.cityAirQuality.Pm25AvgDTO">
        select
        city_name ,
        avg(pm25) as pm25Avg
        from
        city_air_quality
        group by
        city_name
    </select>

    <select id="getAirQualitySuperior" resultType="java.lang.Integer">
        select count(*) from city_air_quality where (aqi between 0 and 50) and city_name=#{cityName}
    </select>

    <select id="getAirQualityFine" resultType="java.lang.Integer">
        select count(*) from city_air_quality where (aqi between 51 and 100) and city_name=#{cityName}
    </select>

    <select id="getAirQualityMild" resultType="java.lang.Integer">
        select count(*) from city_air_quality where (aqi between 101 and 150) and city_name=#{cityName}
    </select>

    <select id="getAirQualityMiddle" resultType="java.lang.Integer">
        select count(*) from city_air_quality where (aqi between 151 and 200) and city_name=#{cityName}
    </select>
</mapper>