<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhy.dataservices.dao.UserDAO">
    <select id="UserLogin" resultType="com.yhy.dataservices.dto.UserDTO">
        select
        a.id,
        a.username,
        a.password,
        b.role
        from
        user a
        left join
        role b
        on
        a.role=b.id
        where
        username=#{username}
        and
        is_able=1
    </select>

    <update id="changePassWord">
        update
         user
         set
         password=#{passWord}
         where
         id=#{id}
    </update>

    <select id="getUserList" resultType="com.yhy.dataservices.entity.User">
        select * from
        user
        <where>
            <if test="userName!=null and userName!=''">
                and username like CONCAT('%',#{userName},'%' )
            </if>
        </where>
        order by
        create_time
        desc
    </select>

    <update id="updateUserState">
        update
        user
        set
        is_able=#{isAble}
        where
        id=#{id}
    </update>

    <insert id="addUser" >
        insert into
        user(username, password, role, is_able)
        values
        (#{username},#{password},#{roleId},#{isAble})
    </insert>

    <select id="checkUserName" resultType="java.lang.Integer">
        select count(*)
        from
        user
        where
        username=#{userName}
    </select>
</mapper>